.pokedex-title {
  margin-top: 2rem;
  font-size: 1.5rem;
}

.pokedex-pokemons {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

@media screen and (max-width: 768px) {
  .pokedex-pokemons {
    padding: 1rem;
    gap: 1rem;
  }
}
