ul {
  list-style: none;
}

.regions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  flex-wrap: nowrap;
  background: #1043b4;
}

.regions.dark-mode {
  background: #111111;
}

.region {
  padding: 1rem;
  cursor: pointer;
  width: 100%;
  text-align: center;
  font-size: 1.2rem;

  color: white;
}

.region:hover {
  color: #ffcb05;
}

/* menu bar */

.regions-menu__wrapper {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  background: #1043b4;
  padding: 2rem;
  z-index: 1000;
  transition: all 0.5s ease;
}

.regions-menu__wrapper.dark-mode {
  background: #111111;
}

.regions-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.regions-menu .region {
  padding: 0.9rem;
}

.regions-menu__img {
  width: 100%;
  height: 140px;
}

.regions-menu__img img {
  width: 90%;
  height: 100%;
  object-fit: contain;
}

.regions-menu button {
  width: auto;
}

.burger-btn {
  width: auto;
  position: absolute;
  top: 5px;
  right: 10px;
  display: none;
}

@media screen and (max-width: 768px) {
  .regions {
    display: none;
  }

  .regions-menu__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
  }

  .burger-btn {
    display: block;
  }
}
