* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #ffcb05;
  position: relative;
}

.pokedex-body {
  background: #2b6dff;
  min-height: 100vh;
}

.pokedex-body.dark-mode {
  background: #252525;
}

.flex__center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-1 {
  padding: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

header {
  height: 150px;
  padding: 1rem 2rem;
}

.header-bg {
  background: #ffcb05;
}

.header-bg.dark-mode {
  background: #252525;
}

header img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

nav {
  position: relative;
}

button {
  border-width: 0;
  background: transparent;
  border-style: none;
  width: 100%;
  cursor: pointer;
}

.slide-bottom {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
